.link {
  color: red;
  text-decoration: none;
}
.form-login {
  background: floralwhite;
  justify-content: center;
  width: 35%;
}

.form-signup {
  background: floralwhite;
  justify-content: center;
}
