.main-footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e8f1fe;
  color: black;
  text-align: center;
  height: auto;
  padding: 30px 20px 30px 20px;
  border-top: 1px solid #d1e4fc;
}

.divider {
  width: 40%;
  margin: auto;
  height: 6px;
  color: black;
}

.list-unstyled {
  text-align: center;
}
