.my-custom-scrollbar {
  position: relative;
  height: 75vh;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.right_side {
  position: absolute;
  right: 200px;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}