.card-carousel {
  width: 75%;
  height: auto;
  position: bottom;
}

.img {
  float: left;
}

.banner {
  width: 100%;
  background-color: #e8f1fe;
  color: rgb(56, 56, 56);
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: #e8f1fe;
  gap: 20px;
}

.button-start {
  background-color: #e8f1fe;
  border: solid 1px #1877f2;
  color: #1877f2;
  margin-right: 10px;
  transition-duration: 0.2s;
}

.button-start:hover {
  background-color: #5cb85c;
  border: solid 1px #5cb85c;
}

.button-find {
  background-color: #e8f1fe;
  border: solid 1px #1877f2;
  color: #1877f2;
  margin-right: 10px;
  transition-duration: 0.2s;
}

.button-find-disabled {
  background-color: #e8f1fe;
  border: solid 1px #1877f2;
  color: #1877f2;
  margin-right: 10px;
}

.button-find:hover {
  background-color: #1877f2;
  border: solid 1px #1877f2;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}