/* animates spinning logo */
.logo-spinner {
  top: 50%;
  left: 50%;
  -webkit-animation:spin 1.3s ease-in-out infinite;
  -moz-animation:spin 1.3s ease-in-out infinite;
  animation:spin 1.3s ease-in-out infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-1440deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-1440deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-1440deg); transform:rotate(-1440deg); } }


/* animates ellipsis after loading message */
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 3100ms infinite;
  -moz-animation: ellipsis steps(4, end) 3100ms infinite;
  animation: ellipsis steps(4, end) 3100ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.15em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.15em;
  }
}